@use "../global/bootstrap.scss";

.add-product {
  padding-bottom: 10px;

  @media (min-width: bootstrap.$tablet-width) {
    padding-bottom: 57px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    padding-bottom: 59px;
  }
}

.add-product__item {
  @include bootstrap.offset-sides-y(6px, 6px);
}

.add-product__form-group {

  .form-group__field {
    margin-right: 16px;
  }

  @media (min-width: bootstrap.$tablet-width) {
    margin-right: 20px;
  }

  .form-group__label {
    color: bootstrap.$primary-dark;
  }
}

.add-product__list {
  @include bootstrap.list-reset;
  margin: 0 auto;
  display: grid;
  gap: 12px;

  @media (min-width: bootstrap.$tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
    row-gap: 28px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}
