@use "../global/bootstrap.scss";

.additional-cards__title {
  margin: 0;
  margin-bottom: 49px;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.additional-cards__list {
  @include bootstrap.list-reset;
  display: grid;
  gap: 32px;
}
