@use "../global/bootstrap.scss";

.basic-cards__list {
  @include bootstrap.list-reset;
  display: grid;
  row-gap: 19px;
}

.basic-cards__item {
  padding-top: 11px;
  padding-bottom: 14px;
  display: grid;
  grid-template-columns: 140px 140px;
}

.basic-cards__link-img {
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
  color: #222222;
  background-color: #ffffff;
  text-decoration: none;
}

.basic-cards__link {
  color: #222222;
  background-color: #ffffff;
  text-decoration: none;
}



.basic-cards__title {
  margin: 0;
  margin-bottom: 18px;
  width: 76px;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
}

.basic-cards__features {
  margin: 0;
  padding-bottom: 9px;
}

.basic-cards__link-buy {
  grid-column: 1/-1;
  margin-top: 13px;
}

.cards-more__link {
  width: 100%;
  margin-top: 13px;
  background-color: #f2f2f2;
  color: #444444;
}
