@use "../global/bootstrap.scss";

.basic-cards {
  @include bootstrap.offset-sides-y(8px, 10px);
  @include bootstrap.offset-sides-x(20px, 20px);

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-y(18px, 55px);
    @include bootstrap.offset-sides-x(30px, 30px);
  }

  @media (min-width: bootstrap.$desktop-width) {
    padding-top: 10px;
    @include bootstrap.offset-sides-x(110px, 110px);
  }
}

.basic-cards__list {
  @include bootstrap.list-reset;
  display: grid;
  row-gap: 19px;

  @media (min-width: bootstrap.$tablet-width) {
    position: relative;
    grid-template-columns: 1fr 1fr;
    gap: 60px;

  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.basic-cards__item {
  position: relative;
  @include bootstrap.offset-sides-y(11px, 14px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;

  &::after {
    position: absolute;
    content: "";
    left: -20px;
    right: -20px;
    bottom: -8px;
    height: 1px;
    background-color: bootstrap.$dark-white;
  }

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-y(8px, 40px);
    @include bootstrap.offset-sides-x(38px, 38px);
    grid-template-columns: 1fr;

    &::after {
      display: none;
    }

    &:not(:last-child)::before {
      position: absolute;
      content: "";
      width: 324px;
      height: 430px;
      background-color: bootstrap.$grey;
      bottom: 0;
      z-index: -1;
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.offset-sides-y(28px, 40px);
    row-gap: 0;
  }
}

.basic-cards__wrapper-image {
  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-bottom: 46px;
  }
}

.basic-cards__link {
  @include bootstrap.link(bootstrap.$third-dark, bootstrap.$white);
}

.basic-cards__title {
  margin: 0;
  margin-bottom: 18px;
  width: 76px;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 16px;
  line-height: 20px;
  color: bootstrap.$third-dark;
  text-transform: uppercase;

  @media (min-width: bootstrap.$tablet-width) {
    margin: 0 auto;
    margin-bottom: 21px;
    width: 159px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 145px;
    line-height: 20px;
  }
}

.basic-cards__features {
  margin: 0;
  padding-bottom: 9px;
  width: 140px;

  @media (min-width: bootstrap.$tablet-width) {
    padding-bottom: 0;
    width: 252px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 172px;
  }
}

.basic-cards__link-buy {
  width: 100%;
  grid-column: 1/-1;
  margin-top: 13px;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 16px;
  line-height: 20px;
  color: bootstrap.$white;

  @media (min-width: bootstrap.$tablet-width) {
    margin-top: 33px;
    width: 248px;
  }
}
