@use "../global/bootstrap.scss";

.basic-cards {
  @include bootstrap.offset-sides-y(8px, 25px);

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-y(98px, 40px);
  }
}

.basic-cards__list {
  @include bootstrap.list-reset;
  display: grid;
  row-gap: 18px;

  @media (min-width: bootstrap.$tablet-width) {
    position: relative;
    margin: 0 auto;
    width: 708px;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 147px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 1220px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 144px;
  }
}

.basic-cards__item {
  box-sizing: border-box;
  position: relative;
  @include bootstrap.offset-sides-y(12px, 14px);

  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -11px;
    height: 1px;
    background-color: bootstrap.$grey-5;
  }

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-y(0, 0);

    &:not(:last-child) {
      background-color: bootstrap.$grey;
    }

    &:first-child .basic-cards__wrapper-description {
      padding-top: 30px;
    }

    &::after {
      display: none;
    }

    &:last-child {
      border: 2px solid bootstrap.$grey;
    }
  }
}

.basic-cards__wrapper-item {
  box-sizing: border-box;
  margin: 0 auto;
  width: 280px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-x(36px, 36px);
    padding-bottom: 40px;
    width: auto;
    grid-template-columns: 1fr;
    position: relative;
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.offset-sides-x(30px, 35px);
    row-gap: 0;
  }
}

.basic-cards__wrapper-image {
  display: block;
  justify-self: center;
  align-self: flex-end;

  @media (min-width: bootstrap.$tablet-width) {
    $cards-shift: -73px;

    position: relative;
    top: $cards-shift;
    margin-bottom: $cards-shift;
  }
}

.basic-cards__link {
  @include bootstrap.link(bootstrap.$third-dark, bootstrap.$white);

  @media (min-width: bootstrap.$tablet-width) {
    color: bootstrap.$grey;
  }
}

.basic-cards__wrapper-description {
  @media (min-width: bootstrap.$tablet-width) {
    padding-top: 24px;
  }
}

.basic-cards__title {
  margin: 0;
  margin-bottom: 15px;
  width: 76px;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 16px;
  line-height: 1.25;
  color: bootstrap.$third-dark;
  text-transform: uppercase;

  @media (min-width: bootstrap.$tablet-width) {
    margin: 0 auto;
    margin-bottom: 17px;
    width: 159px;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 145px;
    line-height: 20px;
  }
}

.basic-cards__features {
  margin: 0;
  padding-bottom: 10px;
  width: 140px;

  @media (min-width: bootstrap.$tablet-width) {
    width: 252px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 172px;
  }
}

.basic-cards__link-buy {
  width: 280px;
  grid-column: 1/-1;
  margin-top: 12px;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 16px;
  line-height: 1.25;
  color: bootstrap.$white;

  @media (min-width: bootstrap.$tablet-width) {
    margin-top: 29px;
    width: 252px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 168px;
  }
}
