@use "../global/bootstrap.scss";

.button {
  display: inline-block;
  @include bootstrap.offset-sides-y(10px, 10px);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: bootstrap.$green;
  border: none;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 20px;
  }
}

.button--programs {
  @include bootstrap.offset-sides-y(7px, 7px);

  @media (min-width: bootstrap.$tablet-width) {
    padding: 14px 26px;
  }
}
