@use "../global/bootstrap.scss";

.button {
  @include bootstrap.offset-sides-y(10px, 10px);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: bootstrap.$white;
  background-color: bootstrap.$green;
  border: none;

  &:hover,
  &:active {
    background-color: bootstrap.$dark-green;
  }

  &:active {
    color: rgba(bootstrap.$white, $alpha: 0.3);
  }

  &--cards-all:hover,
  &--cards-all:active {
    background-color: bootstrap.$grey-5;
  }

  &--cards-all:active {
    color: rgba(bootstrap.$dark-grey, $alpha: 0.3);
  }

  @media (min-width: bootstrap.$tablet-width) {
    &--programs {
      padding: 17px 26px;
    }
  }
}
