@use "../global/bootstrap.scss";

.button {
  display: inline-block;
  @include bootstrap.offset-sides-y(10px, 10px);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: bootstrap.$white;
  background-color: bootstrap.$green;
  border: none;

  &:hover,
  &:active {
    background-color: bootstrap.$dark-green;
  }

  &:active {
    color: rgba(bootstrap.$white, $alpha: 0.3);
  }

  &--programs {
    @include bootstrap.offset-sides-y(7px, 7px);
  }

  &--cards-all {

    &:hover,
    &:active {
      background-color: bootstrap.$dark-white;
    }

    &:active {
      color: rgba(bootstrap.$dark-grey, $alpha: 0.3);
    }
  }

  @media (min-width: bootstrap.$tablet-width) {
    &--programs {
      padding: 14px 26px;
    }
  }
}
