@use "../global/bootstrap.scss";

.cards-more__link-new-cards {
  @include bootstrap.link(bootstrap.$secondary-dark, bootstrap.$white);
}

.cards-more__title {
  margin: 0;
  margin-bottom: 8px;
  font-family: bootstrap.$primary-family;
  @include bootstrap.font(bootstrap.$normal, bootstrap.$font-16, bootstrap.$height-20, bootstrap.$secondary-dark);
  background-color: bootstrap.$white;
  text-transform: uppercase;
}

.cards-more__slogan {
  margin: 0;
}

.cards-more__link {
  width: 100%;
  margin-top: 21px;
  @include bootstrap.link(bootstrap.$dark-grey, bootstrap.$grey);
}
