@use "../global/bootstrap.scss";

.comment {
  @include bootstrap.offset-sides-y(12px, 12px);

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-y(30px, 30px);
    @include bootstrap.offset-sides-x(38px, 38px);
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.offset-sides-x(0px, 0px);
  }
}

.comment__field {
  box-sizing: border-box;
  padding: 10px 14px;
  width: 100%;
  height: 150px;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 16px;
  line-height: 18px;
  color: bootstrap.$dark-grey;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid bootstrap.$grey-4;

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-x(19px, 19px);
    font-size: 20px;
    line-height: 30px;
    height: 174px;
  }
}
