@use "../global/bootstrap.scss";

.comment {
  padding-bottom: 23px;

  @media (min-width: bootstrap.$tablet-width) {
    padding-bottom: 62px;
  }
}

.comment__field {
  box-sizing: border-box;
  padding: 12px 14px;
  width: 100%;
  height: 152px;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 16px;
  line-height: 1.12;
  color: bootstrap.$dark-grey;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid bootstrap.$grey-4;

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-x(19px, 19px);
    font-size: 20px;
    line-height: 1.5;
    height: 174px;
  }
}
