@use "../global/bootstrap.scss";

.contacts {
  padding-bottom: 24px;

  @media (min-width: bootstrap.$tablet-width) {
    padding-bottom: 65px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    padding-bottom: 67px;
  }
}

.contacts__form-group {
  position: relative;
  display: flex;
  gap: 11px;

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  .form-group__field {
    width: 100%;
    @include bootstrap.offset-sides-y(13px, 13px);
    @include bootstrap.offset-sides-x(50px, 15px);
  }

  @media (min-width: bootstrap.$tablet-width) {
    gap: 21px;

    &:not(:last-child) {
      margin-bottom: 17px;
    }

    .form-group__field {
      @include bootstrap.offset-sides-y(11px, 11px);
      @include bootstrap.offset-sides-x(50px, 20px);
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 568px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
