@use "../global/bootstrap.scss";

.contacts {
  padding-bottom: 24px;

  @media (min-width: bootstrap.$tablet-width) {
    padding-bottom: 71px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    padding-bottom: 67px;
  }
}

.contacts__form-group {
  position: relative;
  display: flex;
  gap: 11px;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  .form-group__field {
    width: 100%;
    @include bootstrap.offset-sides-y(14px, 14px);
    @include bootstrap.offset-sides-x(50px, 15px);
  }

  &--mail::before {
    position: absolute;
    content: "";
    background-image: url("../img/form-icon/email-icon.svg");
    background-repeat: no-repeat;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
  }

  &--phone::before {
    position: absolute;
    content: "";
    background-image: url("../img/form-icon/phone-icon.svg");
    background-repeat: no-repeat;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
  }

  @media (min-width: bootstrap.$tablet-width) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .form-group__field {
      @include bootstrap.offset-sides-y(11px, 11px);
      @include bootstrap.offset-sides-x(50px, 20px);
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 568px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
