@use "../global/bootstrap.scss";

.features-list__value {
  margin: 0;
}

.features-list__item {
  display: flex;
  justify-content: space-between;
  font-family: bootstrap.$secondary-family;
  @include bootstrap.font(bootstrap.$normal, bootstrap.$font-12, bootstrap.$height-16, bootstrap.$dark-grey);
}
