@use "../global/bootstrap.scss";

.features-list__item {
  display: flex;
  justify-content: space-between;
  font-family: bootstrap.$secondary-family;
  font-weight: bootstrap.$normal;
  font-size: 12px;
  line-height: 16px;
  color: bootstrap.$dark-grey;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 16px;
  }
}

.features-list__item:not(:last-child) {
  margin-bottom: 6px;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 7px;
  }
}

.features-list__value {
  margin: 0;
}
