.footer-address__wrapper {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 139px 139px;
  gap: 2px;
}

.footer-address__wrapper--index {
  background-color: #ffffff;
}

.footer-address__title {
  margin: 0;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.footer-address__text {
  margin: 0;
  line-height: 20px;
}
