@use "../global/bootstrap.scss";

.footer {
  background-color: bootstrap.$grey;

  @media (min-width: bootstrap.$desktop-width) {
    position: relative;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: bootstrap.$tablet-width) {
    margin: 0 auto;
    @include bootstrap.offset-sides-y(55px, 55px);
    width: 708px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 1220px;
    @include bootstrap.offset-sides-y(71px, 71px);
  }
}
