@use "../global/bootstrap.scss";

.footer-social {
  @include bootstrap.offset-sides-y(21px, 18px);
  display: flex;
  justify-content: center;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    right: 20px;
    left: 20px;
    height: 1px;
    background-color: bootstrap.$secondary-light-grey;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-y(0, 0);

    &::before,
    &::after {
      display: none;
    }
  }
}

.footer-social__list {
  @include bootstrap.list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-content: center;
  gap: 24px;
}

.footer-social__link {
  color: bootstrap.$third-grey;

  &:hover .footer-social__icon {
    color: bootstrap.$green;
  }

  &:active .footer-social__icon {
    opacity: 0.3;
  }
}
