.footer__content{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f2f2f2;
}

.footer__footer-logo{
  padding: 39px 20px 32px 20px;
}

.footer__social{
  padding: 20px;
}

.footer__copyright{
  padding: 22px 20px;
}

.footer__wrapper--catalog{
  background-color: #f2f2f2;

}

.footer__wrapper--form{
  background-color: #f2f2f2;
}
