@use "../global/bootstrap.scss";

.footer {
  background-color: bootstrap.$grey;

  @media (min-width: bootstrap.$desktop-width) {
    position: relative;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: bootstrap.$tablet-width) {
    padding: 57px 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: bootstrap.$desktop-width) {
    padding: 57px 110px;
  }
}

.footer__footer-logo {
  @include bootstrap.offset-sides-y(39px, 32px);
  @include bootstrap.offset-sides-x(20px, 20px);

  @media (min-width: bootstrap.$tablet-width) {
    padding: 0;
  }
}

.footer__social {
  padding: 20px;

  @media (min-width: bootstrap.$tablet-width) {
    padding: 0;
  }
}

.footer__copyright {
  padding: 22px 20px;

  @media (min-width: bootstrap.$tablet-width) {
    padding: 0;
  }
}
