@use "../global/bootstrap.scss";

.footer-logo {
  @include bootstrap.offset-sides-y(40px, 15px);

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-y(0, 0);
    width: 169px;
  }
}

.footer-logo__logo-link:hover {
  opacity: 0.8;
}

.footer-logo__logo-link:active {
  opacity: 0.6;
}
