@use "../global/bootstrap.scss";

.footer-address__wrapper {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;


  @media (min-width: bootstrap.$tablet-width) {
    padding: 56px 70px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    position: absolute;
    box-sizing: border-box;
    top: 95px;
    width: 565px;
    padding: 56px 80px;
    background-color: bootstrap.$white;
  }
}

.footer-address__wrapper--index {
  background-color: bootstrap.$white;

  @media (min-width: bootstrap.$desktop-width) {
    margin-left: 110px;
  }
}

.footer-address__location {
  width: 100%;
  height: 362px;
}

.footer-address__title {
  margin: 0;
  width: 139px;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 16px;
  line-height: 20px;
  color: bootstrap.$secondary-dark;
  text-transform: uppercase;

  @media (min-width: bootstrap.$tablet-width) {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }
}

.footer-address__text {
  margin: 0;
  width: 139px;
  font-family: bootstrap.$secondary-family;
  font-weight: bootstrap.$normal;
  font-size: 14px;
  line-height: 20px;
  color: bootstrap.$dark-grey;

  @media (min-width: bootstrap.$tablet-width) {
    width: 160px;
    font-size: 16px;
    text-align: right;
  }
}
