@use "../global/bootstrap.scss";

.footer-copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #666666;

  @media (min-width: bootstrap.$tablet-width) {
    width: 163px;
  }
}

.footer-copyright__text {
  margin: 0;
  font-family: bootstrap.$secondary-family;
  font-weight: bootstrap.$normal;
  font-size: 16px;
  line-height: 20px;
  color: bootstrap.$dark-grey;
}
