@use "../global/bootstrap.scss";

.footer-address {
  background-color: bootstrap.$grey;

  &--index {
    background-color: bootstrap.$white;
  }
}

.footer-address__wrapper {
  margin: 0 auto;
  width: 280px;

  @media (min-width: bootstrap.$tablet-width) {
    width: 628px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    position: relative;
    width: 1220px;
  }
}

.footer-address__intro {
  @include bootstrap.offset-sides-y(26px, 26px);
  display: flex;
  justify-content: space-between;

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-y(57px, 38px);
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.offset-sides-x(76px, 80px);
    position: absolute;
    width: 565px;
    top: 95px;
    background-color: bootstrap.$white;
    box-sizing: border-box;
    z-index: 5;
  }
}

.footer-address__location-image {
  display: none;
}

.footer-address__location {
  position: relative;
  width: 100%;
  height: 400px;
  display: block;
  border: none;
}

.footer-address__wrapper-location--nojs .footer-address__location {
  display: none;
}

.footer-address__wrapper-location--nojs .footer-address__location-image {
  display: block;
  width: 100%;
}

.footer-address__title {
  margin: 0;
  width: 139px;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 16px;
  line-height: 1.25;
  color: bootstrap.$secondary-dark;
  text-transform: uppercase;

  @media (min-width: bootstrap.$tablet-width) {
    width: 172px;
    font-size: 20px;
    line-height: 1.3;
  }
}

.footer-address__text {
  margin: 0;
  width: 139px;
  font-family: bootstrap.$secondary-family;
  font-weight: bootstrap.$normal;
  font-size: 14px;
  line-height: 1.43;
  color: bootstrap.$dark-grey;

  @media (min-width: bootstrap.$tablet-width) {
    width: 160px;
    font-size: 16px;
    line-height: 1.05;
    text-align: right;
  }

  @media (min-width: bootstrap.$desktop-width) {
    text-align: left;
  }
}

.footer-address__city {
  @media (min-width: bootstrap.$tablet-width) {
    line-height: 4.1;
  }
}
