.form-group {
  margin: 0;
}

.form-group__label {
  align-self: center;
  white-space: nowrap;
}

.form-group__field {
  box-sizing: border-box;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}
