@use "../global/bootstrap.scss";

.form-food {
  @include bootstrap.offset-sides-y(23px, 23px);
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 16px;
  line-height: 1.12;
  color: bootstrap.$dark-grey;
  text-transform: uppercase;

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-y(33px, 72px);
    font-size: 20px;
    line-height: 1.5;
  }

  @media (min-width: bootstrap.$desktop-width) {
    padding-bottom: 82px;
  }
}

.form-food__wrapper-data {
  padding-bottom: 19px;
  display: flex;
  flex-direction: column;

  @media (min-width: bootstrap.$tablet-width) {
    padding-bottom: 38px;
    gap: 72px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 1220px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 34px;
  }
}

.form-food__content {
  margin: 0;
  padding: 0;
  border: none;
  overflow-x: hidden;
}

.form-food__wrapper-title {
  margin: 0 auto;
  width: 280px;

  @media (min-width: bootstrap.$tablet-width) {
    width: 708px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 1220px;
  }
}

.form-food__title {
  position: relative;
  margin: 0;
  margin-bottom: 36px;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 24px;
  line-height: 1.08;
  color: bootstrap.$primary-dark;
  text-transform: none;

  &--contacts {
    width: 187px;

    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 1000%;
      left: calc(100% + 14px);
      top: 50%;
      background-color: bootstrap.$green;
    }
  }

  &--comment {
    width: 121px;

    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 1000%;
      left: calc(100% + 22px);
      top: 50%;
      background-color: bootstrap.$green;
    }
  }

  &--add-product {
    width: 141px;

    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 1000%;
      left: calc(100% + 23px);
      top: 50%;
      background-color: bootstrap.$green;
    }
  }

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 1;
    margin-left: 38px;

    &--contacts {
      width: 514px;

      &::before {
        position: absolute;
        content: "";
        height: 2px;
        width: 1000%;
        right: calc(100% + 38px);
        top: 50%;
        background-color: bootstrap.$green;
      }

      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 1000%;
        left: calc(100% + 42px);
        top: 50%;
        background-color: bootstrap.$green;
      }
    }

    &--comment {
      width: 182px;

      &::before {
        position: absolute;
        content: "";
        height: 2px;
        width: 1000%;
        right: calc(100% + 38px);
        top: 50%;
        background-color: bootstrap.$green;
      }

      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 1000%;
        left: calc(100% + 38px);
        top: 50%;
        background-color: bootstrap.$green;
      }
    }

    &--add-product {
      width: 211px;
      margin-bottom: 57px;

      &::before {
        position: absolute;
        content: "";
        height: 2px;
        width: 1000%;
        right: calc(100% + 38px);
        top: 50%;
        background-color: bootstrap.$green;
      }

      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 1000%;
        left: calc(100% + 41px);
        top: 50%;
        background-color: bootstrap.$green;
      }
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-left: 0;
  }
}

.form-food__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: bootstrap.$tablet-width) {
    width: 628px;
    @include bootstrap.offset-sides-x(40px, 40px);
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 1220px;
    @include bootstrap.offset-sides-x(0, 0);

    &--personal-data,
    &--program {
      width: 568px;
    }

    &--contacts {
      display: flex;
      justify-content: space-between;
    }
  }
}



.form-food__wrapper-button {
  width: 280px;
  margin: 0 auto;

  @media (min-width: bootstrap.$tablet-width) {
    width: 628px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 1220px;
  }
}

.form-food__button {
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 16px;
  line-height: 1.25;
  color: bootstrap.$white;
  width: 100%;
  margin-top: 24px;

  @media (min-width: bootstrap.$tablet-width) {
    width: 282px;
    margin-top: 0;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 568px;
  }
}

.form-food__wrapper-mark {
  margin-top: 0px;
  padding: 21px 63px;

  @media (min-width: bootstrap.$tablet-width) {
    padding: 0;
  }
}

.form-food__mark {
  font-family: bootstrap.$secondary-family;
  font-weight: bootstrap.$normal;
  font-size: 14px;
  line-height: 1.14;
  color: bootstrap.$primary-dark;
  text-transform: none;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 16px;
  }
}
