@use "../global/bootstrap.scss";

.form-group {
  margin: 0;
}

.form-group__label {
  align-self: center;
  white-space: nowrap;
}

.form-group__field {
  box-sizing: border-box;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 16px;
  line-height: 18px;
  color: bootstrap.$dark-grey;
  text-transform: uppercase;
  border: 1px solid bootstrap.$grey-4;

  &:hover {
    border-color: bootstrap.$third-light-grey;
  }

  &:focus {
    border: 2px solid bootstrap.$dark-grey;
  }

  &--error {
    border: 2px solid bootstrap.$error-red;
  }

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-group__field::placeholder {
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 16px;
  line-height: 18px;
  color: bootstrap.$dark-grey;
  text-transform: uppercase;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
