@use "../global/bootstrap.scss";

.form-food {
  font-family: bootstrap.$primary-family;
  @include bootstrap.font(bootstrap.$normal, bootstrap.$font-16, bootstrap.$height-18, bootstrap.$dark-grey);
  text-transform: uppercase;
  @include bootstrap.offset-sides-y(29px, 23px);
  @include bootstrap.offset-sides-x(20px, 20px);

  @media (min-width: bootstrap.$tablet-width) {
    font-size: bootstrap.$font-20;
    line-height: bootstrap.$height-30;
    @include bootstrap.offset-sides-y(2px, 72px);
    @include bootstrap.offset-sides-x(30px, 30px);
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.offset-sides-x(110px, 110px);
    padding-bottom: 82px;
  }
}

.form-food__wrapper-data {
  padding-bottom: 19px;
  display: flex;
  flex-direction: column;
  gap: 46px;

  @media (min-width: bootstrap.$tablet-width) {
    padding-bottom: 38px;
    @include bootstrap.offset-sides-x(38px, 38px);
    gap: 72px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 34px;
    @include bootstrap.offset-sides-x(0, 0);
  }
}

.form-food__content {
  margin: 0;
  padding: 0;
  border: none;
}

.form-food__title {
  margin: 0;
  padding: 0;
  font-family: bootstrap.$primary-family;
  @include bootstrap.font(bootstrap.$normal, bootstrap.$font-24, bootstrap.$height-26, bootstrap.$primary-dark);
  text-transform: none;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: bootstrap.$font-36;
    line-height: bootstrap.$height-36;
  }
}

.form-food__title--contacts {
  padding-top: 26px;
  margin-bottom: 11px;

  @media (min-width: bootstrap.$tablet-width) {
    padding-top: 37px;
    margin-bottom: 39px;
  }
}

.form-food__title--comment {
  padding-top: 12px;
  margin-bottom: 26px;

  @media (min-width: bootstrap.$tablet-width) {
    padding-top: 30px;
    margin-bottom: 46px;
  }
}

.form-food__title--add-product {
  padding-top: 10px;
  margin-bottom: 24px;

  @media (min-width: bootstrap.$tablet-width) {
    padding-top: 37px;
    margin-bottom: 20px;
  }
}

.form-food__wrapper-button {
  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-x(38px, 38px);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.offset-sides-x(0, 0);
  }
}

.form-food__button {
  font-family: bootstrap.$primary-family;
  @include bootstrap.font(bootstrap.$normal, bootstrap.$font-16, bootstrap.$height-20, bootstrap.$white);
  width: 100%;
  margin-top: 24px;

  @media (min-width: bootstrap.$tablet-width) {
    width: 282px;
    margin-top: 0;
  }
}

.form-food__wrapper-mark {
  margin-top: 0px;
  padding: 21px 63px;

  @media (min-width: bootstrap.$tablet-width) {
    padding: 0;
  }
}

.form-food__mark {
  font-family: bootstrap.$secondary-family;
  @include bootstrap.font(bootstrap.$normal, bootstrap.$font-14, bootstrap.$height-16, bootstrap.$primary-dark);
  text-transform: none;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: bootstrap.$font-16;
  }
}
