.gift__wrapper {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/background/gift-catalog.jpg");
  background-repeat: no-repeat;
  background-color: #68B738;
  background-size: cover;
  padding: 187px 61px 43px 58px;
}

.gift__slogan {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
