@use "../global/bootstrap.scss";

.gift {
  @media (min-width: bootstrap.$desktop-width) {
    width: 245px;
  }
}

.gift__wrapper {
  background-image: linear-gradient(bootstrap.$secondary-green, bootstrap.$secondary-green), url("../img/background/gift-catalog.jpg");
  background-repeat: no-repeat;
  background-color: #68B738;
  background-size: cover;
  @include bootstrap.offset-sides-y(187px, 43px);
  @include bootstrap.offset-sides-x(61px, 58px);
}

.gift__slogan {
  margin: 0;
  font-family: bootstrap.$secondary-family;
  @include bootstrap.font(bootstrap.$normal, bootstrap.$font-16, bootstrap.$height-20, bootstrap.$white);
  text-align: center;
}
