@use "../global/bootstrap.scss";

.header--index::before {
  @media (min-width: bootstrap.$desktop-width) {
    content: "";
    position: absolute;
    background-image: linear-gradient(rgba(bootstrap.$green, $alpha: 0.85), rgba(bootstrap.$green, $alpha: 0.85)), url("../img/background/index-background-desktop-cat.jpg");
    background-repeat: no-repeat;
    width: 720px;
    height: 694px;
    left: 50%;
  }
}

.header__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: bootstrap.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 1220px;
  }
}

.header__logo {
  display: block;
  box-sizing: border-box;
  @include bootstrap.offset-sides-y(10px, 17px);
  @include bootstrap.offset-sides-x(20px, 20px);
  width: 191px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-y(0, 0);
    padding-left: 0;
    width: 174px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    padding-top: 53px;
    width: 202px;
  }
}
