@use "../global/bootstrap.scss";

.instruction {
  @include bootstrap.offset-sides-y(10px, 50px);

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-y(35px, 47px);
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.offset-sides-y(61px, 61px);
  }
}

.instruction__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: bootstrap.$tablet-width) {
    width: 708px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 1220px;
  }
}

.instruction__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 36px;
  line-height: 1.11;
  color: bootstrap.$primary-dark;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 1;
  }
}

.instruction__list {
  @include bootstrap.list-reset;
  display: grid;
  gap: 20px;

  @media (min-width: bootstrap.$tablet-width) {
    width: 633px;
    grid-template-columns: 1fr 1fr;
    column-gap: 148px;
    row-gap: 37px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.instruction__item {
  position: relative;
  padding-left: 80px;

  @media (min-width: bootstrap.$tablet-width) {
    padding-left: 0;
    padding-top: 151px;
    padding-bottom: 57px;
  }

}

.instruction__description {
  position: relative;
  margin: 0;
  font-family: bootstrap.$secondary-family;
  font-weight: bootstrap.$normal;
  font-size: 14px;
  line-height: 1.29;
  color: bootstrap.$dark-grey;

  &--leaf::before {
    position: absolute;
    content: url("../img/index-icon/icon-leaf.svg");
    width: 60px;
    height: 60px;
    left: -80px;
  }

  &--water::before {
    position: absolute;
    content: url("../img/index-icon/icon-water.svg");
    width: 60px;
    height: 60px;
    left: -80px;
  }

  &--eat::before {
    position: absolute;
    content: url("../img/index-icon/icon-eat.svg");
    width: 60px;
    height: 60px;
    left: -80px;
  }

  &--watch::before {
    position: absolute;
    content: url("../img/index-icon/icon-watch.svg");
    width: 60px;
    height: 60px;
    left: -80px;
  }

  @media (max-width: bootstrap.$mobail-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 16px;
    line-height: 1.5;

    &::before {
      left: 0;
      top: -111px;
    }
  }
}
