@use "../global/bootstrap.scss";

.instruction {
  margin: 0 auto;
  width: 280px;
  @include bootstrap.offset-sides-y(12px, 54px);

  @media (min-width: bootstrap.$tablet-width) {
    width: 708px;
    @include bootstrap.offset-sides-y(29px, 47px);
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 1220px;
    @include bootstrap.offset-sides-y(61px, 61px);
  }
}

.instruction__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 36px;
  line-height: 1.11;
  color: bootstrap.$primary-dark;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 1;
  }
}

.instruction__list {
  @include bootstrap.list-reset;
  display: grid;
  gap: 26px;

  @media (min-width: bootstrap.$tablet-width) {
    width: 634px;
    grid-template-columns: 1fr 1fr;
    column-gap: 137px;
    row-gap: 37px;
    counter-reset: index;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.instruction__item {
  position: relative;
  padding-left: 80px;

  @media (min-width: bootstrap.$tablet-width) {
    padding-left: 0;
    @include bootstrap.offset-sides-y(151px, 57px);

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      color: bootstrap.$grey;
      font-family: bootstrap.$primary-family;
      font-weight: bootstrap.$normal;
      font-size: 280px;
      line-height: 1;
      counter-increment: index;
      content: counters(index, '.', decimal);
    }
  }
}

.instruction__description {
  position: relative;
  margin: 0;
  font-family: bootstrap.$secondary-family;
  font-weight: bootstrap.$normal;
  font-size: 14px;
  line-height: 1.29;
  color: bootstrap.$dark-grey;

  &::before {
    position: absolute;
    left: -80px;
    width: 60px;
    height: 60px;
  }

  &--leaf::before {
    content: url("../img/icon-leaf.svg");
  }

  &--water::before {
    content: url("../img/icon-water.svg");
  }

  &--eat::before {
    content: url("../img/icon-eat.svg");
  }

  &--watch::before {
    content: url("../img/icon-watch.svg");
  }

  @media (max-width: bootstrap.$mobail-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 16px;
    line-height: 1.5;

    &::before {
      left: 0;
      top: -111px;
      width: 80px;
      height: 80px;
    }

    &--leaf::before {
      content: url("../img/icon-leaf-tablet.svg");
    }

    &--water::before {
      content: url("../img/icon-water-tablet.svg");
    }

    &--eat::before {
      content: url("../img/icon-eat-tablet.svg");
    }

    &--watch::before {
      content: url("../img/icon-watch-tablet.svg");
    }
  }
}
