@use "../global/bootstrap.scss";

.main-container {
  flex-grow: 1;
  margin: 0 auto;
}

.main-container__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--index {
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    background-image: linear-gradient(rgba(bootstrap.$green, 0.85), rgba(bootstrap.$green, 0.85)), url("../img/background/index-background-cat.jpg");
    background-repeat: no-repeat;
    background-size: 100% 302px, 320px auto;
    background-position: top center;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(bootstrap.$green, 0.85), rgba(bootstrap.$green, 0.85)), url("../img/background/index-background-cat@2x.jpg");
    }

    &::before {
      position: absolute;
      width: 100%;
      min-height: 302px;
      background-color: bootstrap.$dark-grey;
      z-index: -1;
      content: "";
    }
  }

  &--catalog {
    position: relative;
    @include bootstrap.offset-sides-y(27px, 41px);
    @include bootstrap.offset-sides-x(20px, 20px);

    &::before,
    &::after {
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background-color: bootstrap.$grey-5;
      content: "";
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &--form {
    position: relative;
    @include bootstrap.offset-sides-y(27px, 15px);
    @include bootstrap.offset-sides-x(20px, 20px);

    &::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      height: 1px;
      background-color: bootstrap.$secondary-light-grey;
    }
  }

  @media (min-width: bootstrap.$tablet-width) {
    width: 708px;
    align-items: flex-start;

    &--index {
      position: relative;
      background-image: none;
      padding-bottom: 0;

      &::before {
        display: none;
      }
    }

    &--catalog {
      margin: 0 auto;
      width: 708px;
      @include bootstrap.offset-sides-y(65px, 65px);
      @include bootstrap.offset-sides-x(0, 0);

      &::before,
      &::after {
        display: none;
      }
    }

    &--form {
      margin: 0 auto;
      width: 628px;
      @include bootstrap.offset-sides-y(65px, 33px);
      @include bootstrap.offset-sides-x(0, 0);

      &::after {
        display: none;
      }
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 1220px;

    &--index {
      padding-bottom: 82px;
      min-height: 550px;
    }

    &--catalog {
      @include bootstrap.offset-sides-y(74px, 74px);
      width: 1220px;
    }

    &--form {
      padding-top: 77px;
      width: 1220px;
    }
  }
}

.main-container__intro {

  &--index {
    @include bootstrap.offset-sides-y(28px, 28px);
    @include bootstrap.offset-sides-x(35px, 35px);
    width: 250px;
  }

  &--form {
    width: 280px;
    text-align: start;
  }

  @media (min-width: bootstrap.$tablet-width) {

    &--index {
      @include bootstrap.offset-sides-y(64px, 20px);
      @include bootstrap.offset-sides-x(90px, 90px);
      width: 414px;
      text-align: start;
    }

    &--form {
      width: 433px;
    }
  }

  @media (min-width: bootstrap.$desktop-width) {

    &--index {
      padding-top: 32px;
      @include bootstrap.offset-sides-x(80px, 80px);
    }
  }
}

.main-container__title {
  margin: 0;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 36px;
  line-height: 1;
  color: bootstrap.$primary-dark;

  &--index {
    margin-bottom: 25px;
    color: bootstrap.$white;
  }

  &--catalog {
    width: 280px;
    text-align: start;
  }

  &--form-food {
    margin-bottom: 37px;
    text-align: left;
  }

  @media (min-width: bootstrap.$tablet-width) {
    text-align: left;
    font-size: 60px;
    line-height: 1;

    &--index {
      margin-bottom: 41px;
      width: 416px;
      color: bootstrap.$primary-dark;
    }

    &--catalog {
      width: 431px;
    }

    &--form-food {
      margin-bottom: 54px;
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    &--index {
      padding-top: 50px;
    }

    &--form-food {
      padding-left: 0;
    }
  }
}

.main-container__slogan {
  margin: 0;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 20px;
  line-height: 1;
  color: bootstrap.$primary-dark;
  text-transform: uppercase;

  &--index {
    font-size: 14px;
    line-height: 1;
    color: bootstrap.$white;
  }

  &--form-food {
    width: 226px;
    font-size: 14px;
    line-height: 1.29;
  }

  @media (min-width: bootstrap.$tablet-width) {
    &--index {
      font-size: 20px;
      line-height: 1;
      color: bootstrap.$primary-dark;
    }

    &--form-food {
      width: 323px;
      font-size: 20px;
      line-height: 1.5;
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    &--form-food {
      padding-left: 0;
    }
  }
}

.main-container__link-programs {
  box-sizing: border-box;
  display: block;
  margin-top: 3px;
  width: 280px;
  align-self: center;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 14px;
  line-height: 1.29;
  color: bootstrap.$white;

  @media (min-width: bootstrap.$tablet-width) {
    position: absolute;
    margin-top: 0;
    top: 290px;
    left: 90px;
    width: 244px;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: bootstrap.$desktop-width) {
    left: 80px;
  }
}

.main-container__image {
  @media (min-width: bootstrap.$desktop-width) {
    position: absolute;
    top: 32px;
    right: 220px;
  }
}
