@use "../global/bootstrap.scss";

.navigation {
  position: relative;

  &--closed {
    .navigation__toggle::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 2px;
      background-color: bootstrap.$primary-dark;
      right: 0;
      top: 0;
      box-shadow: 0 7px 0 0 bootstrap.$primary-dark,
        0 14px 0 0 bootstrap.$primary-dark;
    }

    @media (max-width: bootstrap.$mobail-width-only) {
      .navigation__wrapper {
        display: none;
      }
    }
  }

  &--opened {
    .navigation__toggle {

      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 10px;
        width: 24px;
        height: 2px;
        background-color: bootstrap.$primary-dark;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    @media (max-width: bootstrap.$mobail-width-only) {
      .navigation__list {
        position: absolute;
        background-color: bootstrap.$white;
        z-index: 10;
        width: 100%;
      }
    }
  }

  &--nojs {
    @media (max-width: bootstrap.$mobail-width-only) {
      .navigation__toggle {
        display: none;
      }

      .navigation__wrapper {
        position: relative;
        display: block;
      }
    }
  }
}

.navigation__toggle {
  position: absolute;
  right: 20px;
  top: -40px;
  width: 24px;
  height: 18px;
  background-color: bootstrap.$white;
  border: none;
  z-index: 2;

  @media (min-width: bootstrap.$tablet-width) {
    display: none;
  }
}

.navigation__list {
  @include bootstrap.list-reset;
  text-align: center;

  @media (min-width: bootstrap.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 440px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 478px;
  }
}

.navigation__link {
  position: relative;
  box-sizing: border-box;
  display: block;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$medium;
  font-size: 20px;
  line-height: 1;
  color: bootstrap.$primary-dark;
  @include bootstrap.link(bootstrap.$primary-dark, bootstrap.$white);
  @include bootstrap.offset-sides-y(22px, 24px);
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background-color: bootstrap.$secondary-grey;
  }

  &:hover {
    color: rgba(bootstrap.$primary-dark, $alpha: 0.6);
  }

  &:active {
    color: rgba(bootstrap.$primary-dark, $alpha: 0.3);
  }

  @media (min-width: bootstrap.$tablet-width) {
    font-weight: bootstrap.$normal;
    font-size: 18px;
    line-height: 1.33;
    color: bootstrap.$primary-dark;
    white-space: nowrap;
    @include bootstrap.offset-sides-y(18px, 8px);
    border-top: none;

    &::before {
      display: none;
    }

    &--current {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0px;
        left: 0;
        bottom: 0;
        height: 2px;
        background-color: bootstrap.$green;
      }
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    font-weight: bootstrap.$normal;
    font-size: 20px;
    line-height: 1.5;
    color: bootstrap.$secondary-dark;
    padding-top: 70px;

    &--index {
      background-color: transparent;
      color: bootstrap.$white;

      &.navigation__link--current::after {
        background-color: bootstrap.$white;
      }

      &:hover {
        color: rgba(bootstrap.$white, $alpha: 0.6);
      }

      &:active {
        color: rgba(bootstrap.$white, $alpha: 0.3);
      }
    }
  }
}
