@use "../global/bootstrap.scss";

.page{
  height: 100%;
  font-family: bootstrap.$secondary-family;
  @include bootstrap.font(bootstrap.$normal, bootstrap.$font-14, bootstrap.$height-18, bootstrap.$dark-grey);
  background-color: bootstrap.$white;
}

.page__container {
  margin: 0 auto;

  @media (min-width: bootstrap.$tablet-width) {
    width: bootstrap.$tablet-width;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: bootstrap.$desktop-width;
  }
}
