@use "../global/bootstrap.scss";

.personal-data {
  @media (min-width: bootstrap.$desktop-width) {
    width: 569px;
  }
}

.personal-data__form-group {
  display: flex;
  gap: 11px;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  & .form-group__field {
    padding: 14px 20px;
    width: 100%;
  }

  @media (min-width: bootstrap.$tablet-width) {
    gap: 13px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .form-group__field {
      padding: 11px 20px;
    }
  }
}
