@use "../global/bootstrap.scss";

.personal-data {
  @media (min-width: bootstrap.$desktop-width) {
    width: 569px;
  }
}

.personal-data__form-group {
  display: flex;
  gap: 11px;

  @media (min-width: bootstrap.$tablet-width) {
    gap: 13px;
  }
}

.personal-data__form-group:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 20px;
  }
}
