@use "../global/bootstrap.scss";

.product-item {
  position: relative;
  display: grid;
  row-gap: 14px;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -19px;
    height: 1px;
    background-color: bootstrap.$third-light-grey;
  }

  @media (min-width: bootstrap.$tablet-width) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 25px;

    &:not(:first-child):before {
      position: absolute;
      content: "";
      left: -38px;
      right: -38px;
      top: -27px;
      height: 1px;
      background-color: bootstrap.$third-light-grey;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 896px;
    grid-template-columns: 1fr 1fr 244px;
    gap: 40px;

    &:not(:first-child):before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: -16px;
      height: 1px;
      background-color: bootstrap.$third-light-grey;
    }
  }
}

.product-item__title {
  margin: 0;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 16px;
  line-height: 1;
  color: bootstrap.$third-dark;
  text-transform: uppercase;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.product-item__list {
  margin: 0;
}

.product-item__description {
  display: flex;
  justify-content: space-between;
  font-family: bootstrap.$secondary-family;
  font-weight: bootstrap.$normal;
  font-size: 14px;
  line-height: 1;
  color: bootstrap.$dark-grey;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 16px;
    line-height: 1.25;
    justify-content: end;
  }

  @media (min-width: bootstrap.$desktop-width) {
    justify-content: space-between;
  }
}

.product-item__value {
  margin: 0;

  @media (min-width: bootstrap.$tablet-width) {
    width: 90px;
    text-align: end;
  }
}
