@use "../global/bootstrap.scss";

.programs__list {
  @include bootstrap.list-reset;
  @include bootstrap.offset-sides-x(20px, 20px);
  display: grid;
  row-gap: 20px;

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-x(30px, 30px);
    row-gap: 30px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.offset-sides-x(110px, 110px);
    padding-top: 40px;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 19px;
  row-gap: 22px;
  background-color: bootstrap.$grey;
  @include bootstrap.offset-sides-y(30px, 18px);
  @include bootstrap.offset-sides-x(33px, 20px);

  @media (min-width: bootstrap.$tablet-width) {
    grid-template-columns: 1fr 200px;
    @include bootstrap.offset-sides-y(77px, 53px);
    @include bootstrap.offset-sides-x(62px, 52px);
    column-gap: 54px;
    row-gap: 0;
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.offset-sides-y(47px, 55px);
    @include bootstrap.offset-sides-x(61px, 52px);
    grid-template-columns: 100px 1fr;
    column-gap: 62px;
    row-gap: 23px;
  }
}

.programs__picture {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: bootstrap.$green;

  @media (min-width: bootstrap.$tablet-width) {
    width: 200px;
    height: 200px;
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 22px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 100px;
    height: 100px;
    margin-top: 0;
    grid-column: auto;
    grid-row: auto;
  }
}

.programs__picture--slim::after {
  position: absolute;
  content: url("../img/index-icon/cat-slim.svg");
  left: 7px;
  top: -3px;
}

.programs__picture--pro::after {
  position: absolute;
  content: url("../img/index-icon/cat-pro.svg");
  left: -9px;
  top: 11px;
}

.programs__title {
  margin: 0;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 24px;
  line-height: 36px;
  color: bootstrap.$primary-dark;
  text-transform: uppercase;
  align-self: center;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 36px;
    grid-column: 1/2;
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-column: auto;
  }
}

.programs__description {
  margin: 0;
  grid-column: 1/-1;

  @media (min-width: bootstrap.$tablet-width) {
    font-weight: bootstrap.$normal;
    font-size: 16px;
    line-height: 24px;
    color: bootstrap.$primary-dark;
    grid-column: 1/2;
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-column: 1/-1;
  }
}

.programs__link {
  position: relative;
  @include bootstrap.offset-sides-y(4px, 4px);
  @include bootstrap.offset-sides-x(47px, 0);
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 16px;
  line-height: 16px;
  color: bootstrap.$primary-dark;
  text-decoration: none;
  text-transform: uppercase;
  grid-column: 1/-1;

  @media (min-width: bootstrap.$tablet-width) {
    padding-right: 57px;
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__link-icon {
  position: absolute;
  margin-left: 15px;
  top: 7px;

  @media (min-width: bootstrap.$tablet-width) {
    margin-left: 25px;
    top: 14px;
  }
}
