@use "../global/bootstrap.scss";

.program__list {
  @include bootstrap.list-reset;
  display: grid;
  gap: 15px;
}

.program__form-group {
  color: #222222;

  .form-group__field {
    margin-right: 15px;
  }
}
