@use "../global/bootstrap.scss";

.result {
  background-color: bootstrap.$light-grey;

  @media (min-width: bootstrap.$tablet-width) {
    background-color: bootstrap.$white;
  }
}

.result__wrapper {
  @include bootstrap.offset-sides-y(25px, 40px);
  @include bootstrap.offset-sides-x(20px, 20px);


  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-y(43px, 0);
    @include bootstrap.offset-sides-x(30px, 30px);
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.offset-sides-y(70px, 75px);
    @include bootstrap.offset-sides-x(110px, 110px);
  }
}

.result__intro {
  display: grid;
  row-gap: 20px;

  @media (min-width: bootstrap.$tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 54px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    row-gap: 0;
    column-gap: 224px;
  }
}

.result__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: bootstrap.$primary-family;
  @include bootstrap.font(bootstrap.$normal, bootstrap.$font-36, bootstrap.$height-40, bootstrap.$primary-dark);

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 63px;
    font-size: bootstrap.$font-60;
    line-height: bootstrap.$height-60;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-bottom: 76px;
  }
}

.result__description {
  grid-column: 1/-1;
  margin: 0;
  font-family: bootstrap.$secondary-family;
  @include bootstrap.font(bootstrap.$normal, bootstrap.$font-14, bootstrap.$height-18, bootstrap.$dark-grey);

  @media (min-width: bootstrap.$tablet-width) {
    font-size: bootstrap.$font-16;
    line-height: bootstrap.$height-24;
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-column: 1/2;
    margin-bottom: 69px;
  }
}

.result__list {
  display: flex;
  justify-content: space-between;
  margin: 0;

  @media (min-width: bootstrap.$desktop-width) {
    grid-column: 1/2;
    margin-bottom: 55px;
  }
}

.result__name {
  font-family: bootstrap.$secondary-family;
  @include bootstrap.font(bootstrap.$normal, bootstrap.$font-12, bootstrap.$height-12, bootstrap.$dark-grey);

  @media (min-width: bootstrap.$tablet-width) {
    font-size: bootstrap.$font-14;
    line-height: bootstrap.$height-14;
  }
}

.result__value {
  margin: 0;
  font-family: bootstrap.$primary-family;
  @include bootstrap.font(bootstrap.$normal, bootstrap.$font-24, bootstrap.$height-24, bootstrap.$primary-dark);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: bootstrap.$font-30;
    line-height: bootstrap.$height-36;
  }
}

.result__price {
  margin: 0;
  font-family: bootstrap.$primary-family;
  @include bootstrap.font(bootstrap.$normal, bootstrap.$font-14, bootstrap.$height-20, bootstrap.$primary-dark);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: bootstrap.$font-20;
    line-height: bootstrap.$height-20;
    justify-self: end;
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-column: 1/2;
    justify-self: start;
  }
}

.result__slider {
  @media (min-width: bootstrap.$desktop-width) {
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}
