@use "../global/bootstrap.scss";

.result {
  @include bootstrap.offset-sides-y(25px, 40px);
  background-color: bootstrap.$light-grey;

  @media (min-width: bootstrap.$tablet-width) {
    position: relative;
    @include bootstrap.offset-sides-y(43px, 0);
    background-color: bootstrap.$white;
    z-index: 0;

    &::before {
      position: absolute;
      content: "";
      background-color: bootstrap.$light-grey;
      width: 100%;
      height: 462px;
      z-index: -1;
      bottom: 0;
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.offset-sides-y(70px, 75px);
  }
}

.result__wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto;

  @media (min-width: bootstrap.$tablet-width) {
    width: 708px;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      height: 1px;
      background-color: bootstrap.$secondary-grey;
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 1220px;

    &::before {
      display: none;
    }
  }
}

.result__intro {
  display: grid;
  row-gap: 20px;

  @media (min-width: bootstrap.$tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 54px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    row-gap: 0;
    column-gap: 224px;
  }
}

.result__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 36px;
  line-height: 40px;
  color: bootstrap.$primary-dark;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-bottom: 76px;
  }
}

.result__description {
  grid-column: 1/-1;
  margin: 0;
  font-family: bootstrap.$secondary-family;
  font-weight: bootstrap.$normal;
  font-size: 14px;
  line-height: 18px;
  color: bootstrap.$primary-dark;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-column: 1/2;
    margin-bottom: 69px;
  }
}

.result__list {
  display: flex;
  justify-content: space-between;
  margin: 0;

  @media (min-width: bootstrap.$desktop-width) {
    grid-column: 1/2;
    margin-bottom: 55px;
  }
}

.result__item {
  display: grid;
  row-gap: 7px;

  @media (min-width: bootstrap.$tablet-width) {
    row-gap: 11px;
  }
}

.result__name {
  font-family: bootstrap.$secondary-family;
  font-weight: bootstrap.$normal;
  font-size: 12px;
  line-height: 12px;
  color: bootstrap.$primary-dark;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.result__value {
  margin: 0;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 24px;
  line-height: 24px;
  color: bootstrap.$primary-dark;
  text-transform: uppercase;
  text-align: center;
  grid-row: 1/2;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 30px;
    line-height: 36px;
  }
}

.result__price {
  margin: 0;
  font-family: bootstrap.$primary-family;
  font-weight: bootstrap.$normal;
  font-size: 14px;
  line-height: 20px;
  color: bootstrap.$primary-dark;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 20px;
    line-height: 20px;
    justify-self: end;
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-column: 1/2;
    justify-self: start;
  }
}

.result__slider {
  @media (min-width: bootstrap.$desktop-width) {
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}
