$primary-dark: #000000;
$secondary-dark: #111111;
$third-dark: #222222;
$dark-grey: #444444;
$grey: #f2f2f2;
$secondary-grey: #e6e6e6;
$third-grey: #666666;
$grey-4: #e7e7e7;
$grey-5: #ebebeb;
$grey-6: #bababa;
$light-grey: #eaeaea;
$secondary-light-grey: #d9d9d9;
$third-light-grey: #cdcdcd;
$white: #ffffff;
$dark-green: #5eaa2f;
$green: #68b738;
$error-red: #ff8282;

$primary-family: "Oswald", sans-serif;
$secondary-family: "Lato", sans-serif;

$normal: 400;
$medium: 500;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobail-width-only: 767px;
